---
import BaseHead from "../components/BaseHead.astro";
import Background from "../components/Background.html";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      html,
      body {
        height: 100%;
      }

      .link {
        @apply text-2xl underline mx-2;
      }
    </style>
  </head>
  <body>
    <Background />
    <main class="grid place-items-center h-full">
      <div class="flex flex-col items-center font-title font-thin text-white">
        <img
          class="rounded-full"
          src="/silhoutte.png"
          alt="silhoutte"
          width="300"
          height="300"
        />
        <h1 class="text-8xl text-center mt-4">robert lynch</h1>
        <h2 class="text-2xl mt-2">staff software engineer</h2>
        <div class="mt-4 flex justify-center">
          <a href="https://github.com/rob0rt" target="_blank" class="link"
            >github</a
          >
          <a href="/resume.pdf" target="_blank" class="link">resume</a>
        </div>
      </div>
    </main>
  </body>
</html>
