---
import BaseHead from "../components/BaseHead.astro";
import Background from "../components/Background.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      html,
      body {
        height: 100%;
      }

      main * {
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-weight: 100;
      }

      .link {
        @apply text-2xl underline mx-2;
      }
    </style>
  </head>
  <body>
    <Background client:only="svelte" />
    <main class="grid content-center place-items-center h-full">
      <img
        class="rounded-full"
        src="/silhoutte.png"
        alt="silhoutte"
        width="300"
        height="300"
      />
      <h1 class="text-8xl text-center mt-4">robert lynch</h1>
      <h2 class="text-2xl mt-2">senior software engineer</h2>
      <div class="mt-4 flex justify-center">
        <a href="https://github.com/rob0rt" target="_blank" class="link"
          >github</a
        >
        <a href="/resume.pdf" target="_blank" class="link">resume</a>
        <a
          href="http://www.linkedin.com/in/robertmlynch/"
          target="_blank"
          class="link"
          >linkedin
        </a>
        <a href="/blog" class="link">blog</a>
      </div>
    </main>
  </body>
</html>
